@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Mulish&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-blue: #77ADBB;
    --gray-blue: #465362;
    --gray: rgb(229, 229, 229);
}

body {
    background-color: var(--gray);
}

header{
    position: fixed;
    top: 0;
    /* added z-index */
    z-index: 1;
    width: 100%;
    /* changed nav color */
    background-color: var(--gray-blue);
}

footer{
    position: absolute;
    width: 100%;
    /* changed footer color */
    background-color: var(--light-blue);
    padding: 15px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.2rem;
    line-height: 1.2em;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2.4rem;
}

h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
}

h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

footer > h2{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
}

button:hover {
    background-color: var(--gray-blue);
}

.nav-menu li{
    list-style: none;
    font-family: 'Mulish', sans-serif;
}

.nav-menu a{
    position: relative;
    color: white;
    text-decoration: none;
}

.nav-menu a:after{
    content: "";
    position: absolute;
    background-color: var(--light-blue);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
}

a:hover:after{
    width: 100%;
}

a{
    font-family: 'Mulish', sans-serif;
    position: relative;
    color: white;
    text-decoration: none;
}

.container{
    width: 1280px;
    margin: auto;
}

.container img{
    position: absolute;
    margin-top: 5px;
    height: 60px;
    width: 80px;
}

.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 60px;
    margin: auto;
}

.nav-branding{
    font-size: 2rem;
    position: fixed;
}

.header-text {
    min-width: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* hamburger menu for smaller screens */

.hamburger {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--gray-blue);
}

.hamburger>button {
    background-color: var(--gray-blue);
    border: none;
}

.hamburger>button>img, .hamburger-check {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -50vw;
    list-style: none;
    background: var(--gray-blue);
    z-index: -1;
    transition: 0.5s all linear;
}

.menu > div > li > a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--light-blue);
    text-decoration: none;
    padding: 2% 0;
}

.hamburger-links {
    margin-top: 20%;
    margin-left: 10%;
}

.menu > div > li {
    margin: 6% 10%;
}

.hamburger-check {
    z-index: 4;
    opacity: 0;
    position: absolute;
}

.hamburger-check:checked ~ .menu {
    left: 0;
}

.nav-logo {
    width: 40px;
    filter: invert(63%) sepia(63%) saturate(191%) hue-rotate(145deg) brightness(91%) contrast(92%);
}

@media(max-width:1280px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 1105px) {
    .container {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 670px) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }
}